@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 1px solid #734bd1;
  outline-offset: 2px;
}

body {
  background: #202024;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

input {
  background: #323238;
}
